<html>
  <head>
    <title>MENACE: Machine Educable Noughts And Crosses Engine</title>
    <link rel="stylesheet" href="/stylesheets/game.css" />
  </head>
  <body>
    <table class="board">
      <tr>
        <td id="position0"></td>
        <td id="position1"></td>
        <td id="position2"></td>
      </tr>
      <tr>
        <td id="position3"></td>
        <td id="position4"></td>
        <td id="position5"></td>
      </tr>
      <tr>
        <td id="position6"></td>
        <td id="position7"></td>
        <td id="position8"></td>
      </tr>
    </table>
    <div class="players">
      O: MENACE<br />X:<select id="p2picker" onchange="setPlayer(this.value)">
        <option value="h">Human</option>
        <option value="r">Random</option>
        <option value="m">MENACE2</option>
        <option value="p">Perfect</option>
      </select>
    </div>
    <div class="wins" id="n1">
      <small>MENACE Wins</small><br /><span class="dis" id="dis1">0</span>
    </div>
    <div class="wins" id="n2">
      <small>Draws</small><br /><span class="dis" id="dis0">0</span>
    </div>
    <div class="wins" id="n3">
      <small><span id="who">Human</span> Wins</small><br /><span
        class="dis"
        id="dis2"
        >0</span
      >
    </div>
    <div class="summary" id="list_here"></div>
  </body>
</html>
